## 표폰분산과 모분산의 비교
- 표본분산이 정말 모분산의 불편추정량인가?

### 방법
- 타이타닉 데이터 사용
- 랜덤한 10개의 데이터의 표본분산을 구하는 것을 10000번 계산해서 이의 평균값을 구해봄.
- 이것과 실제 데이터의 분산과 비교해봄

In [1]:
import pandas as pd
import numpy as np

In [2]:
mycsv = pd.read_csv('./titanic/train.csv')

In [3]:
mycsv.shape # 크기보기

(891, 12)

In [4]:
mycsv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### titanic의 age 데이터를 가지고 분산작업을 해봄.

In [5]:
mycsv['Age'].var(ddof=0)  # 분산- 결측치 자동제거

210.7235797536662

In [6]:
age_data_total = mycsv['Age']

In [7]:
age_data= age_data_total.dropna() # 결측치 제거

In [9]:
mymean = age_data.mean()
mycount = age_data.count()
mymean

29.69911764705882

In [10]:
age_data.var(ddof=0)

210.7235797536662

- 구하려는 분산의 참값은 210.7

In [11]:
np.random.choice(age_data,size=10,replace=False)  #나이 10개 랜덤 추출

array([15. , 48. , 39. , 23. , 33. , 34. , 48. , 32.5, 29. , 24. ])

In [25]:
sample_var = np.zeros(10000)

In [26]:
for i in range(10000):
    sample = np.random.choice(age_data,size=10,replace=False) 
    sample_var[i]=np.var(sample,ddof=0)

In [27]:
sample_var

array([216.25  , 234.4   , 111.6   , ...,  80.5525, 143.44  , 115.2025])

In [28]:
np.mean(sample_var)

190.4312086077

n개의 표본의 분산의 평균 : 190.43

In [29]:
sample2 = np.random.choice(age_data,size=100,replace=False)

In [30]:
sample2

array([11.  , 34.  , 52.  , 10.  , 44.  , 57.  , 19.  , 29.  , 25.  ,
       30.  , 38.  , 10.  , 16.  , 36.  , 20.  , 60.  , 16.  , 31.  ,
       20.  , 20.  , 31.  , 44.  , 38.  , 29.  , 17.  , 56.  , 22.  ,
       44.  , 29.  , 20.  , 24.  , 27.  , 43.  , 34.5 ,  2.  , 59.  ,
       47.  , 18.  , 47.  , 23.  , 21.  , 29.  , 30.  , 40.  , 58.  ,
       34.  ,  2.  , 15.  , 38.  , 21.  ,  2.  , 16.  ,  9.  ,  9.  ,
       18.  , 22.  , 35.  , 31.  , 40.5 , 24.  , 42.  , 26.  , 28.  ,
       52.  , 21.  , 29.  , 48.  , 59.  , 61.  , 19.  , 50.  , 23.  ,
       39.  , 41.  , 42.  , 25.  , 28.  , 22.  , 17.  , 14.  , 22.  ,
       48.  , 36.  , 29.  , 32.  , 20.  , 51.  , 29.  , 18.  , 70.  ,
        0.75, 47.  , 18.  , 29.  , 25.  , 22.  , 42.  , 30.5 , 26.  ,
       41.  ])

In [33]:
sample_var2 = np.zeros(10000)
for i in range(10000):
    sample2 = np.random.choice(age_data,size=10,replace=False) 
    sample_var2[i]=np.mean((sample2-mymean)**2)

In [34]:
np.mean(sample_var2)

209.88313498372318

- 표본의 자료에 대하여 평균을 모평균으로 사용하면 분산이 참값과 비슷하게 나옴

### 불편분산을 사용할 경우

In [35]:
sample_var2 = np.zeros(10000)
for i in range(10000):
    sample2 = np.random.choice(age_data,size=10,replace=False) 
    sample_var2[i]=np.var(sample2,ddof=1)

In [36]:
np.mean(sample_var2)

211.4697776282222

- n-1로 나눈 표본분산의 경우 참값과 비슷하게 나옴