## 표폰분산과 모분산의 비교
- 과연 표본분산은 모분산보다 작을까?

### 방법
- 타이타닉 데이터 사용
- 랜덤한 10개의 데이터의 표본분산을 구하는 것을 10000번 계산해서 이의 평균값을 구해봄.
- 이것과 실제 데이터의 분산과 비교해봄

In [14]:
import pandas as pd
import numpy as np

In [2]:
mycsv = pd.read_csv('./data/titanic_train.csv')

In [3]:
mycsv.shape # 크기보기

(891, 12)

In [4]:
mycsv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### titanic의 age 데이터를 가지고 분산작업을 해봄.

In [12]:
mycsv.var?

In [38]:
mycsv['Age'].var(ddof=0)  # 분산- 결측치 자동제거

210.72357975366614

In [39]:
age_data_total = mycsv['Age']

In [40]:
age_data= age_data_total.dropna() # 결측치 제거

In [41]:
age_data.var(ddof=0)

210.72357975366617

In [20]:
np.random.choice?

In [32]:
np.random.choice(age_data,size=10,replace=False)  #나이 10개 랜덤 추출

array([27., 36., 15., 42., 20., 50.,  2., 16., 35., 24.])

In [45]:
sample_var = np.zeros(10000)

In [46]:
for i in range(10000):
    sample = np.random.choice(age_data,size=10,replace=False) 
    sample_var[i]=np.var(sample,ddof=0)

In [47]:
sample_var

array([341.21    , 155.61    , 209.05    , ..., 136.01    , 239.56    ,
       364.258576])

In [48]:
np.mean(sample_var)

188.84705273190002

### 결론: 표본분산은 항상 작은 값이 나옴.

### 불편분산을 사용할 경우

In [58]:
sample_var2 = np.zeros(10000)
for i in range(10000):
    sample2 = np.random.choice(age_data,size=10,replace=False) 
    sample_var2[i]=np.var(sample2,ddof=1)

In [59]:
np.mean(sample_var2)

209.5033942141111

## 불편분산을 사용할 경우 비슷한 값이 나옴.